body{
    font-family: 'Tahoma', 'Arial', sans-serif;
    width: 600px;
    margin: 100px auto;
}

/* .content{
    border: 1px solid;
    border-radius: 4px;
} */
.modal-body{
    border: 1px solid #e2d8c7;
    border-radius: 4px;
    background-color: #f4f0e2;
    overflow: hidden;
    position: relative;
    padding: 15px;
}

.line{
    font-size: 15px;
}

.form-group:before,
.form-group:after {
    content:"";
    display:table;
}
.form-group:after {
    clear:both;
}

/* .form-register{
    margin-bottom: 40px;
} */
.form-group{
    /* background-color: blue; */
    margin: 20px 20px -10px 20px;
    /* padding-top: 7px; */
}

/* .col-sm-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} */
label{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: inline-block;
    max-width: 100%;
}
.control-label{
    /* background-color: red; */
    position: relative;
    font-size: 17px;
    margin-left: 40px;
    /* margin-top: 7px; */
    padding-top: 7px;
    margin-bottom: 0px;
}
.texterror{
    color: red;
    font-style: italic;
    font-size: 13px;
}

.form-control{
    width: 65%;
    padding: 8px 15px;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 4px;
}
.form-control:hover{
    border: 1px solid #ffd666;
}
.form-control:focus{
    outline: none;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.btn{
    background-color: rgb(50, 115, 255);
    color: white;
    padding: 7px 15px;
    margin-top: 20px;
    margin-left: 210px;
    font-size: 16px;
    width: 150px;
    border: 1px solid;
    border-radius: 4px;
}
.btn:hover{
    background-color: blue;
}
/* .ctrl-btn{
    font-size: 15px;
    width: 30%;
} */